@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .animate-bounce-slow {
    animation: bounce-slow 4s infinite;
  }
  .animate-bounce-slow-delay {
    animation: bounce-slow 4s infinite 2s;
  }
}

@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

/* Custom Selection Color */
::selection {
  background-color: #8b5cf6;
  color: white;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #2d2a26;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4a4641;
}
